{% extends 'base.html' %}

{% block content %}
<h1>You're all set {{ username }}</h1>
<p>You should be receiving updates regarding {{ fundname }} at {{ time }} every {{ frequency }} at 
    the following number {{ phone }} for your {{ shares }}# of shares.</p>
    <p>Until you decide to cancel.</p>
<!-- TODO put a GO! is this a go?button to initiate program  -->
<form action="confo" method="POST" >
    <p>Is this correct?
    <br />
    <input type="radio" name="confirm" value="yes" checked="checked" />Yes
    <input type="radio" name="confirm" value="no" /> Nope
    <input type="hidden" name="fundname" value="{{ fundname }}" />
    <input type="hidden" name="phone" value="{{ phone }}" />
    <input type="hidden" name="shares" value="{{ shares }}" />
    <input type="hidden" name="freq" value="{{ frequency }}" />
    <input type="submit" value="go"/>
    </p>
   
{% endblock %}
