{% extends 'base2.html' %} 

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Get-a-Quote</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
        .jumbotron {
            background-color: orange; /* Orange */
            color: darkgreen;
            padding: 18rem 5rem;
        }
        .container-fluid {
            padding: 5rem 5rem;
            background-color: darkgreen;
            color: orange;
        }
        .input-group {
            background-color: orange;
        }
        </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Get-a-Quote</h1>
  <p>An (up)dating site for people who hate noise. </p>

  <!-- <form class="form-inline"> -->
        <div class="input-group">
          
          <div class="input-group-btn">
            <form action="sign-up-form">
                <input type="submit" class="btn btn-danger" value="Give it a try!"/></form>
                <!-- NOTEif removing navbar from intro add a login button here -->
            <form action="/login">
            <button type="submit" class="btn btn-danger">This ain't my first rodeo!</button></form>
          </div>
        </div>
      <!-- </form>  -->


</div>
<div class="container-fluid">
        <h2>About Get-a-Quote</h2>
        <h4>The sole purpose of this site is to let you receive updates on your mutual funds on a regular basis
            so that you can do other things with your life and not subject yourself to as little market noise as 
            possible.
        </h4>
        <h2>It's also <strong>FREE</strong>!</h2>
        
      </div>
</body>
</html> 


 {% endblock %} 

