{% extends "base.html" %}

{% block content %}
<form action="share-update" method="POST">
<h1>{{ username }}, you already have {{ fund.num_shares}} listed shares of {{ fund.fund_name }}, do you want to add
     {{ addition }} to them ?</h1>
<br />
<input type="radio" name="shares-update" value="yes" checked="checked" /> Yes, please
<br/>
<input type="radio" name="shares-update" value="no" /> NO, thanks
<br/>
<input type="radio" name="shares-update" value="maybe" /> I don't know let me see
<br/>
<input type="submit" name="submit" value="submit"/>
<input type="hidden" name="num_shares" value={{ addition }} />
<input type="hidden" name="fund_name" value={{ fund.fund_name }} />
</form>

{% endblock %}